/* resets */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* body */
body {
    height: 100vh;
}

/* header */
.header {
    height: 100px;
    width: 100%;
}

.main {
    width: 100%;
}

/* dialog */

dialog {
    height: 400px;
    width: 300px;
    position: absolute;
    margin: auto;
    background-color: aliceblue;
    border-color: black;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.data {
    display: grid;
}

#title,
#author,
#pages,
select,
#submit,
#close {
    border: 2px solid black;
    border-radius: 10px;
    background-color: ghostwhite;
}

.select {
    align-self: center;
}

div > label {
    font-weight: 600;
}

#close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
}

#submit {
    font-weight: bold;
}