/* resets */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* body */
body {
    height: 100vh;
    background-color: antiquewhite;
}

/* header */
.header {
    height: 5vh;
    width: 100%;
}

.main {
    width: 100%;
    height: 95vh;
    
}

/* dialog */

dialog {
    height: 400px;
    width: 300px;
    position: absolute;
    margin: auto;
    background-color: aliceblue;
    border-color: black;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.data {
    display: grid;
}

#title,
#author,
#pages,
select,
#submit,
#close {
    border: 2px solid black;
    border-radius: 10px;
    background-color: ghostwhite;
}

.select {
    align-self: center;
}

div > label {
    font-weight: 600;
}

#close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
}

#submit {
    font-weight: bold;
}

/* cards */

.card-container {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 50px;
}

.card {
    background-color: azure;
    border-radius: 30px;
    padding: 20px;
    border: 2px solid black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}